body {
    background: #eee !important;
}

form {
    background-color: antiquewhite;
}

.card, .modal-content{
    border: 5px solid black;
}

.form-control {
    text-align: center;
}

/*
#signup{
    max-width: 500px;
}*/

.antique-white-background{
    
    background-color:antiquewhite;
}


h6, address{
    color: black;
}

.jumbotron {
    padding: 2rem 2rem;
 }

.no-style-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;

}


