body {
    background: #eee !important;
}

form {
    background-color: antiquewhite;
}

.form-control {
    text-align: center;
}

#signup{
    max-width: 500px;
}

.footer{
    background-color: #FAEBD7;
}

,jumbotron {
    padding: 2rem 2rem;
 }

