body {
    background: #eee !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 450px;
    padding: 5px 20px 20px;
    background-color: #fff;
    text-align: center;

}

.border {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.testbar {
    background-color: hotpink;
}

input {
    margin: 1rem 0 1rem 0;
}

