  <web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">
    <display-name>StudentAchieve</display-name>

  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>


  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error-pages/403.jsp</form-error-page>
    </form-login-config>
  </login-config>


  <error-page>
    <error-code>400</error-code>
    <location>/error-pages/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/error-pages/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error-pages/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error-pages/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error-pages/405.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error-pages/500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.io.IOException</exception-type>
    <location>/error-pages/IOException.jsp</location>
  </error-page>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/admin/</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>RouteUserController</web-resource-name>
      <url-pattern>/routeUser</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>TEACHER</role-name>
      <role-name>STUDENT</role-name>
    </auth-constraint>
  </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>teacher</web-resource-name>
            <url-pattern>/teacher/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>TEACHER</role-name>
          <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>student</web-resource-name>
            <url-pattern>/student/</url-pattern>
        </web-resource-collection>
      <auth-constraint>
        <role-name>STUDENT</role-name>
        <role-name>TEACHER</role-name>
        <role-name>ADMIN</role-name>
      </auth-constraint>
    </security-constraint>


  <security-role>
    <role-name>ADMIN</role-name>
  </security-role>
  <security-role>
    <role-name>STUDENT</role-name>
  </security-role>
  <security-role>
    <role-name>PENDING</role-name>
  </security-role>
  <security-role>
    <role-name>TEACHER</role-name>
  </security-role>
</web-app>